<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Id Column -->
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Id</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <!-- Code Column -->
    <ng-container matColumnDef="code">
        <th mat-header-cell *matHeaderCellDef>Code</th>
        <td mat-cell *matCellDef="let element">{{ element.code }}</td>
    </ng-container>

    <!-- Address Column -->
    <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef>Address</th>
        <td mat-cell *matCellDef="let element">{{ element.address }}</td>
    </ng-container>

    <!-- Birth Column -->
    <ng-container matColumnDef="dob">
        <th mat-header-cell *matHeaderCellDef>Birth</th>
        <td mat-cell *matCellDef="let element">
            {{ element.dob | date: "dd/MM/yyyy" }}
        </td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let element">{{ element.email }}</td>
    </ng-container>

    <!-- Image Column -->
    <ng-container matColumnDef="image">
        <th mat-header-cell *matHeaderCellDef>Image</th>
        <td mat-cell *matCellDef="let element">
            <img [src]="element.image" [alt]="element.name" [hidden]="!element.image"/>
        </td>
    </ng-container>

    <!-- actions -->
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>
            <button mat-raised-button color="primary" (click)="onAdd()">
                Thêm mới
            </button>
        </th>

        <td mat-cell *matCellDef="let element; let i=index;">
            <button mat-raised-button (click)="onEdit(i, element)">
                Chỉnh sửa
            </button>

            <button mat-raised-button color="warn" (click)="onRemove(element)">
                Xóa bỏ
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>